APP_ENV=development
EXPO_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
EXPO_PUBLIC_SUPABASE_ANON_KEY=replace-with-local-anon-key
EXPO_PUBLIC_USE_MOCK_AUTH=true
EXPO_PUBLIC_USE_MOCK_ENTITLEMENTS=true
EXPO_PUBLIC_GOLF_COURSE_API_KEY=4QA2KNQLUNLSW3TSWYXYKAQTYA
EXPO_PUBLIC_REVENUECAT_API_KEY=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
